.header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
}

.return {
  color: var(--link);
  background-color: var(--white);
  border: none;
  position: absolute;
  left: 20px;
  top: 30px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;
}

.icon {
  width: 45px;
  height: 45px;
  fill: black;
}

.title {
  font-size: 24px;
  font-weight: 600;
}
