.section {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 1130px;
}

.userCard {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 420px;
  padding: 20px;
}

.title {
  font-size: 24px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 45px;
}

.positionControl {
  position: relative;
  width: 100%;
}

.avatar {
  height: 120px;
  width: auto;
  border-radius: 4px;
}

.text {
  color: var(--text);
  font-size: 18px;
  margin-bottom: 6px;
}

.subtext {
  color: var(--subtext);
  font-size: 12px;
}

.flow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.repoList {
  color: var(--text);
  list-style: disc;
  padding-left: 15px;
}

.link {
  color: var(--text);
}
